VITE_SENTRY_DSN=
VITE_RAVELRY_URL=
VITE_RAVELRY_USERNAME=
VITE_RAVELRY_PASSWORD=

VITE_GITHUB_URL=
VITE_GITHUB_TOKEN=
VITE_GA4_MEASURENT_ID=

HTTPS=true
VITE_SSL_CRT_FILE=./server.pem
VITE_SSL_KEY_FILE=./server-key.pem
