@import "tailwindcss";

:root {
  --destructive: #ff0000;
  --background: #f4efe4;
  --green: #345102;
  --blue: #4316bf;
  --yellow-001: #fff683;
  --yellow-000: #fefbc8;
  --text: #260b1f;
  --surface: #ffffff;
}

body {
  background-color: var(--background);
}

@theme {
  --color-destructive: var(--destructive);
  --color-background: var(--background);
  --color-primary-500: var(--green);
  --color-primary-700: var(--green/70);
  --color-secondary-500: var(--blue);
  --color-accent-500: var(--yellow-001);
  --color-accent-100: var(--yellow-000);
  --color-text: var(--text);
  --color-surface: var(--surface);

  --animate-fade-in: fade-in 0.5s ease-in-out;
  --animate-wingle: wingle 1s infinite;

  --color-btn-primary: var(color-primary-500);
  --color-btn-primary-hover: var(color-primary-700);
  --color-btn-secondary: var(color-secondary-500);
  --color-btn-secondary-hover: var(color-secondary-700);
  --color-btn-accent: var(color-accent-500);
  --color-btn-accent-hover: var(color-accent-100);


  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    50% {
      opacity: 0.5;
      color: red;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes wingle {
    0% {
      transform: rotate(-3deg);
    }
    50%% {
      transform: rotate(3deg);
    }
  }

  --animate-heart-pulse: heartbeat 2s ease-in-out infinite;

  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(1);
    }
  }
}
